HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/src/main/resources/little/login0.json
/src/main/resources/login0.json
/src/main/resources/little/login1.json
/src/main/resources/little/login2.json
/src/main/resources/little/login3.json
/src/main/resources/little/login4.json
/src/main/resources/little/login5.json
/src/main/resources/little/login6.json
/src/main/resources/little/login7.json
/src/main/resources/little/login8.json
/src/main/resources/little/login9.json
/src/main/resources/little/login10.json
/src/main/resources/little/login11.json
/src/main/resources/little/login12.json
/src/main/resources/little/login13.json
/src/main/resources/little/login14.json
/src/main/resources/little/login15.json
/src/main/resources/little/login16.json
/src/main/resources/little/login17.json
/src/main/resources/little/login18.json
/src/main/resources/little/login19.json
/src/main/resources/little/login20.json
/src/main/resources/little/login21.json
/src/main/resources/little/login22.json
/src/main/resources/little/login23.json
/src/main/resources/little/login24.json
/src/main/resources/little/login25.json
/src/main/resources/little/login26.json
/src/main/resources/little/login27.json
/src/main/resources/little/login28.json
/src/main/resources/little/login29.json
/src/main/resources/little/login30.json
/src/main/resources/little/login31.json
/src/main/resources/little/login32.json
/src/main/resources/little/login33.json
/src/main/resources/little/login34.json
/src/main/resources/little/login35.json
/src/main/resources/little/login36.json
/src/main/resources/little/login37.json
/src/main/resources/little/login38.json
/src/main/resources/little/login39.json
/src/main/resources/little/login40.json
/src/main/resources/little/login41.json
/src/main/resources/little/login42.json
/src/main/resources/little/login43.json
/src/main/resources/little/login44.json
/src/main/resources/little/login45.json
/src/main/resources/little/login46.json
/src/main/resources/little/login47.json
/src/main/resources/little/login48.json
/src/main/resources/little/login49.json
/src/main/resources/little/login50.json
/src/main/resources/little/login51.json
/src/main/resources/little/login52.json
/src/main/resources/little/login53.json
/src/main/resources/little/login54.json
/src/main/resources/little/login55.json
/src/main/resources/little/login56.json
/src/main/resources/little/login57.json
/src/main/resources/little/login58.json
/src/main/resources/little/login59.json
/src/main/resources/little/login60.json
/src/main/resources/little/login61.json
/src/main/resources/little/login62.json
/src/main/resources/little/login63.json
/src/main/resources/little/login64.json
/src/main/resources/little/login65.json
/src/main/resources/little/login66.json
/src/main/resources/little/login67.json
/src/main/resources/little/login68.json
/src/main/resources/little/login69.json
/src/main/resources/little/login70.json
/src/main/resources/little/login71.json
/src/main/resources/little/login72.json
/src/main/resources/little/login73.json
/src/main/resources/little/login74.json
/src/main/resources/little/login75.json
/src/main/resources/little/login76.json
/src/main/resources/little/login77.json
/src/main/resources/little/login78.json
/src/main/resources/little/login79.json
/src/main/resources/little/login80.json
/src/main/resources/little/login81.json
/src/main/resources/little/login82.json
/src/main/resources/little/login83.json
/src/main/resources/little/login84.json
/src/main/resources/little/login85.json
/src/main/resources/little/login86.json
/src/main/resources/little/login87.json
/src/main/resources/little/login88.json
/src/main/resources/little/login89.json
/src/main/resources/little/login90.json
/src/main/resources/little/login91.json
/src/main/resources/little/login92.json
/src/main/resources/little/login93.json
/src/main/resources/little/login94.json
/src/main/resources/little/login95.json
/src/main/resources/little/login96.json
/src/main/resources/little/login97.json
/src/main/resources/little/login98.json
/src/main/resources/little/login99.json
/src/main/resources/little/pay0.json
/src/main/resources/pay0.json
/src/main/resources/little/pay1.json
/src/main/resources/little/pay2.json
/src/main/resources/little/pay3.json
/src/main/resources/little/pay4.json
/src/main/resources/little/pay5.json
/src/main/resources/little/pay6.json
/src/main/resources/little/pay7.json
/src/main/resources/little/pay8.json
/src/main/resources/little/pay9.json
/src/main/resources/little/pay10.json
/src/main/resources/little/pay11.json
/src/main/resources/little/pay12.json
/src/main/resources/little/pay13.json
/src/main/resources/little/pay14.json
/src/main/resources/little/pay15.json
/src/main/resources/little/pay16.json
/src/main/resources/little/pay17.json
/src/main/resources/little/pay18.json
/src/main/resources/little/pay19.json
/src/main/resources/little/pay20.json
/src/main/resources/little/pay21.json
/src/main/resources/little/pay22.json
/src/main/resources/little/pay23.json
/src/main/resources/little/pay24.json
/src/main/resources/little/pay25.json
/src/main/resources/little/pay26.json
/src/main/resources/little/pay27.json
/src/main/resources/little/pay28.json
/src/main/resources/little/pay29.json
/src/main/resources/little/pay30.json
/src/main/resources/little/pay31.json
/src/main/resources/little/pay32.json
/src/main/resources/little/pay33.json
/src/main/resources/little/pay34.json
/src/main/resources/little/pay35.json
/src/main/resources/little/pay36.json
/src/main/resources/little/pay37.json
/src/main/resources/little/pay38.json
/src/main/resources/little/pay39.json
/src/main/resources/little/pay40.json
/src/main/resources/little/pay41.json
/src/main/resources/little/pay42.json
/src/main/resources/little/pay43.json
/src/main/resources/little/pay44.json
/src/main/resources/little/pay45.json
/src/main/resources/little/pay46.json
/src/main/resources/little/pay47.json
/src/main/resources/little/pay48.json
/src/main/resources/little/pay49.json
/src/main/resources/little/pay50.json
/src/main/resources/little/pay51.json
/src/main/resources/little/pay52.json
/src/main/resources/little/pay53.json
/src/main/resources/little/pay54.json
/src/main/resources/little/pay55.json
/src/main/resources/little/pay56.json
/src/main/resources/little/pay57.json
/src/main/resources/little/pay58.json
/src/main/resources/little/pay59.json
/src/main/resources/little/pay60.json
/src/main/resources/little/pay61.json
/src/main/resources/little/pay62.json
/src/main/resources/little/pay63.json
/src/main/resources/little/pay64.json
/src/main/resources/little/pay65.json
/src/main/resources/little/pay66.json
/src/main/resources/little/pay67.json
/src/main/resources/little/pay68.json
/src/main/resources/little/pay69.json
/src/main/resources/little/pay70.json
/src/main/resources/little/pay71.json
/src/main/resources/little/pay72.json
/src/main/resources/little/pay73.json
/src/main/resources/little/pay74.json
/src/main/resources/little/pay75.json
/src/main/resources/little/pay76.json
/src/main/resources/little/pay77.json
/src/main/resources/little/pay78.json
/src/main/resources/little/pay79.json
/src/main/resources/little/pay80.json
/src/main/resources/little/pay81.json
/src/main/resources/little/pay82.json
/src/main/resources/little/pay83.json
/src/main/resources/little/pay84.json
/src/main/resources/little/pay85.json
/src/main/resources/little/pay86.json
/src/main/resources/little/pay87.json
/src/main/resources/little/pay88.json
/src/main/resources/little/pay89.json
/src/main/resources/little/pay90.json
/src/main/resources/little/pay91.json
/src/main/resources/little/pay92.json
/src/main/resources/little/pay93.json
/src/main/resources/little/pay94.json
/src/main/resources/little/pay95.json
/src/main/resources/little/pay96.json
/src/main/resources/little/pay97.json
/src/main/resources/little/pay98.json
/src/main/resources/little/pay99.json
